@page "/"
@inject iBukuservice Bukuservice

<PageTitle>Data Buku</PageTitle>
<body>
    <h2>Data Buku Tersedia</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Buku</th>
                <th>Judul Buku</th>
                <th>Genre Buku</th>
                <th>Penerbit</th>
                <th>Jumlah Halaman</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var books in Bukuservice.buku)
            {
                <tr>
                    <td>@books.Id_buku</td>
                    <td>@books.Judul_buku</td>
                    <td>@books.Genre_id</td>
                    <td>@books.Penerbit</td>
                    <td>@books.Jumlah_halaman</td>
                </tr>
            }
        </tbody>
    </table>
</body>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Bukuservice.GetDataBuku();
    }
}
