@page "/kelola-data"
@inject iBukuservice Bukuservice
@inject NavigationManager NavigationManager
<body>
<h1>Selamat datang di Halaman Kelola Buku</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID Buku</th>
      <th>Judul Buku</th>
      <th>Genre Buku</th>
      <th>Penerbit</th>
      <th>Jumlah Halaman</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var books in Bukuservice.buku)
            {
                     <tr>
                        <td>@books.Id_buku</td>
                        <td>@books.Judul_buku</td>
                        <td>@books.Genre_id</td>
                        <td>@books.Penerbit</td>
                        <td>@books.Jumlah_halaman</td>
                        <td>@books.Genre.Nama_Genre</td>
                    <td><button class="btn btn-primary" @onclick="(() => ShowBuku(books.Id_buku))">Edit</button></td>
                    <td><a href="Delete" class="btn btn-danger">Delete</a></td>
                    </tr>
            }

  </tbody>
</table>
</body>
@code {
    protected override async Task OnInitializedAsync()
    {
        await Bukuservice.GetDataBuku();
    }

    void ShowBuku(int id)
    {
        NavigationManager.NavigateTo($"books/{id}");
    }
}
